body {
    background-color:#EDF7ED;
    color:#4A4A4A;
}

div.front-page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    justify-content: center;
    text-align: center;
}

div.second-page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: black;
}

.note-area {
width: 50%;
height: 30vh;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
}

.submit {
    background-color: #1D4E1F;
    color: white;
    font-size: 14px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    width: 20%;
}

a {
    color: #1D4E1F;
}

.notes-link {
    margin-top: 20px;
    padding-top: 20px;

}









/**
 * 
 * 
 * const http = require('http');


const localStorage= http.createServer(function(req,res) {

res.writeHead(200, {'Content-Type': 'text/html'});

res.end( getNoteId());


});


localStorage.listen(4000, getNoteId());

 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
const http = require('http');


const localStorage = http.createServer(function(req,res) {

res.writeHead(200, {'Content-Type': 'text/html'});

res.end(`#notes-list`);


});


localStorage.listen(4000, 'localhost');


console.log("you have created a server")



 * 
 * res.end("Welcome to this!");
 * server.listen(4000, '127.0.0.1');
**/